<!DOCTYPE html>
{% load static %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
</head>

<body>
    <h2>Komentáře</h2>

    <table class="table">
        <thead>
            <tr class=" text-center">
                <th>Číslo podprojektu</th>
                <th>Název podprojektu</th>
                <th>Text</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for comment in comments %}
            <tr class="text-center">
                <td>{{ comment.subcontract.contract.pk }} - {{ comment.subcontract.subcontract_number }}</td>
                <td>{{ comment.subcontract.contract.contract_name }} - {{ comment.subcontract.subcontract_name }}</td>
                <td>{{ comment.text }}</td>
                <td><a href="{% url 'subcontract_detail' contract_pk=comment.subcontract.contract.pk subcontract_number=comment.subcontract.subcontract_number %}" class="btn btn-custom">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
