{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
</head>

<h2>Komentáře</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-center align-middle">Číslo podprojektu</th>
            <th class="text-center align-middle">Název podprojektu</th>
            <th class="text-center align-middle">Text</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    {% if limit %}
        {% for comment in comments|slice:":5" %}
        <tr>
            <td align="center">{{ comment.subcontract.contract.pk }} - {{ comment.subcontract.subcontract_number }}</td>
            <td>{{ comment.subcontract.contract.contract_name }} - {{ comment.subcontract.subcontract_name }}</td>
            <td>{{ comment.text }}</td>
            <td><a href="{% url 'subcontract_detail' contract_pk=comment.subcontract.contract.pk subcontract_number=comment.subcontract.subcontract_number %}" class="btn btn-custom">Detail</a></td>
        </tr>
        {% endfor %}
    {% else %}
        {% for comment in comments %}
        <tr>
            <td align="center">{{ comment.subcontract.contract.pk}} - {{ comment.subcontract.subcontract_number }}</td>
            <td>{{ comment.text }}</td>
            <td><a href="{% url 'subcontract_detail' contract_pk=comment.subcontract.contract.pk subcontract_number=comment.subcontract.subcontract_number %}" class="btn btn-custom">Detail podprojektu</a></td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
