<a href="{% url 'navbar_contracts' %}"><h2>Moje projekty</h2></a>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Číslo projektu</th>
            <th>Deadline</th>
            <th>Počet dní do ukončení</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for contract in contracts %}
        <tr class="{% if contract.delta <= 0 %}table-danger{% elif contract.delta <= 7 %}table-warning{% endif %}">
            <td>{{ contract.contract_name }}</td>
            <td align="center">{{ contract.id }}</td>
            <td>{{ contract.deadline }}</td>
            <td align="center">{{ contract.delta }}</td>
            <td>
                <a href="{% url 'contract_detail' contract.id %}" class="btn btn-custom">Detail projektu</a>
            </td>
        </tr>
        {% empty %}
            Žádné projekty nenalezeny!!!
        {% endfor %}
    </tbody>
</table>