<!--Tabulka se všemi projekty, kterou najdeme na url /navbar_contracts_all/-->
<h2>Všechny projekty</h2>
    <a href="{% url 'contract_create' %}" class="btn btn-info"> Nová zakázka </a>
  <ul>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Název projektu</th>
            <th>Číslo projektu</th>
            <th>Datum vytvoření</th>
            <th>Status</th>
            <th>Uživatel</th>
            <th>Pozice</th>
            <th>Detail zakázky</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
        <tr>
            <td>{{ contract.contract_name }}</td>
            <td>{{ contract.id }}</td>
            <td>{{ contract.created }}</td>
            <td>{{ contract.get_status_display }}</td>
            <td>{{ contract.user.first_name }} {{ contract.user.last_name }}</td>
            <td>
                {% if contract.user.userprofile.position %}
                    {{ contract.user.userprofile.position.name }}
                {% else %}
                    Žádná pozice
                {% endif %}
            </td>
            <td>
                <a href="{% url 'detail_contract' contract.id %}" class="btn btn-info">Detail zakázky</a>
            </td>
            <td>
                <a href="{% url 'contract_update' contract.pk %}" class="btn btn-info">Upravit</a>
            </td>
            <td>
                <a href="{% url 'contract_delete' contract.pk %}" class="btn btn-info">Smazat</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Žádné projekty nejsou dostupné.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

