<a href="{% url 'navbar_contracts' %}"><h2>Moje projekty</h2></a>

<table class="table">
    <thead>
        <tr>
            <th class="text-center align-middle">Číslo projektu</th>
            <th class="text-center align-middle">Název projektu</th>
            <th class="text-center align-middle">Deadline</th>
            <th class="text-center align-middle">Zbývá dní</th>
            <th class="text-center align-middle">Akce</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    {% if limit %}
        {% for contract in contracts|slice:":5" %}
        <tr class="{% if contract.delta <= 7 %}table-danger{% elif contract.delta <= 14 %}table-warning{% endif %}">
            <td align="center">{{ contract.id }}</td>
            <td>{{ contract.contract_name }}</td>
            <td>{{ contract.deadline }}</td>
            <td align="center">{{ contract.delta }}</td>
            <td>
                <a href="{% url 'contract_detail' contract.id %}" class="btn btn-custom btn">Detail</a>
            </td>
        </tr>
        {% empty %}
            Žádné projekty nenalezeny!!!
        {% endfor %}
    {% else %}
        {% for contract in contracts %}
        <tr class="{% if contract.delta <= 7 %}table-danger{% elif contract.delta <= 14 %}table-warning{% endif %}">
            <td>{{ contract.contract_name }}</td>
            <td align="center">{{ contract.id }}</td>
            <td>{{ contract.deadline }}</td>
            <td align="center">{{ contract.delta }}</td>
            <td>
                <a href="{% url 'contract_detail' contract.id %}" class="btn btn-custom btn">Detail projektu</a>
            </td>
        </tr>
        {% empty %}
            Žádné projekty nenalezeny!!!
        {% endfor %}
    {% endif %}
    </tbody>
</table>