{% extends 'base.html' %}

{% block title %}
    SDA Employee Hub | Subcontract Detail
{% endblock %}

{% block content %}

<div class="container mt-4">
    <a href="{% url 'contract_detail' subcontract.contract.pk %}" class="btn btn-custom mt-4">Zpět na přehled</a>
    <a href="{% url 'subcontract_update' contract_pk=subcontract.contract.pk subcontract_number=subcontract.subcontract_number %}" class="btn btn-custom mt-4">Upravit</a>

    <h2 class="mt-4">Detail podprojektu č. {{ subcontract.subcontract_number }}</h2>
    <p class="mt-4">Číslo projektu: {{ subcontract.contract.pk }}</p>
    <p>Název podprojektu: {{ subcontract.contract.contract_name }} - {{ subcontract.subcontract_name }}</p>
    <p>Vytvořeno: {{ subcontract.created | date:"d.m.Y" }}</p>


    <h4>Komentáře</h4>
    <td><a href="{% url 'comment_add' subcontract.pk %}" class="btn btn-custom mt-3 mb-4"> Přidat komentář </a></td>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center align-middle">Poř. číslo</th>
                <th class="text-center align-middle">Komentář</th>
                <th class="text-center align-middle">Datum zadání</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in subcontract.comment_set.all %}
            <tr>
                <td align="center">{{ forloop.counter }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}