{% extends 'base.html' %}

{% block title %}
    SDA Employee Hub | Detail kontraktu
{% endblock %}

{% block content %}

<div class="container mt-4">
    <a href="{% url 'navbar_contracts_all' %}" class="btn btn-custom">Zpět na přehled</a>
    <a href="{% url 'contract_update' contract.pk %}" class="btn btn-custom">Upravit</a>

    <h2 class="mt-4">Detail projektu č. {{ contract.id }}</h2>
    <p class="mt-4"><strong>Název:</strong> {{ contract.contract_name }}</p>
    <p><strong>Datum vytvoření:</strong> {{ contract.created }}</p>
    <p><strong>Status:</strong> {{ contract.get_status_display }}</p>
    <p><strong>Uživatel:</strong> {{ contract.user.first_name }} {{ contract.user.last_name }}</p>

    {% if contract.user.userprofile.position %}
        <p><strong>Pozice:</strong> {{ contract.user.userprofile.position.name }}</p>
    {% else %}
        <p><strong>Pozice:</strong> Žádná pozice</p>
    {% endif %}

    <h3 class="mt-4">Podprojekty</h3>
    <a href="{% url 'subcontract_create' contract.pk %}" class="btn btn-custom mt-4">Přidat podprojekt</a>
    <table class="table table-striped table-bordered mt-4">
        <thead>
            <tr>
                <th class="text-center align-middle">Číslo podprojektu</th>
                <th class="text-center align-middle">Název podprojektu</th>
                <th class="text-center align-middle">Uživatel</th>
                <th class="text-center align-middle">Status</th>
                <th class="text-center align-middle">Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for subcontract in contract.subcontracts.all %}
            <tr>
                <td align="center">{{ contract.pk }} - {{ subcontract.subcontract_number }}</td>
                <td>{{ subcontract.subcontract_name }}</td>
                <td>{{ subcontract.user }}</td>
                <td>{{ subcontract.get_status_display }}</td>
                <td>
                    <a href="{% url 'subcontract_detail' contract_pk=subcontract.contract.pk subcontract_number=subcontract.subcontract_number %}" class="btn btn-custom btn-sm">Detail</a>
                    {% if subcontract.subcontract_number %}
                        <a href="{% url 'subcontract_update' contract_pk=subcontract.contract.pk subcontract_number=subcontract.subcontract_number %}" class="btn btn-custom btn-sm">Upravit</a>
                    {% else %}
                        <span class="text-danger">Chybí číslo podprojektu</span>
                    {% endif %}
                    <a href="{% url 'subcontract_delete' subcontract.pk %}" class="btn btn-custom btn-sm">Smazat</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
