{% extends 'base.html' %}

{% block title %}
    SDA Employee Hub | Subcontract Detail
{% endblock %}

{% block content %}

<a href="{% url 'contract_detail' subcontract.contract.pk %}" class="btn btn-custom">Zpět na přehled</a>

    <h2>Detail podprojektu</h2>
    <p>Název projektu: {{ subcontract.contract.contract_name }}</p>
    <p>Číslo podprojektu: {{ subcontract.subcontract_number }}</p>
    <p>Název podprojektu: {{ subcontract.subcontract_name }}</p>
    <p>Vytvořeno: {{ subcontract.created | date:"d M Y"}}</p>


    <h4>Komentáře</h4>
    <td><a href="{% url 'comment_add' subcontract.pk %}" class="btn btn-custom"> Přidat komentář </a></td>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Poř. číslo</th>
                <th>Komentář</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in subcontract.comment_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}