{% extends 'base.html' %}

{% block title %}
    SDA Employee Hub | Employees
{% endblock %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4">Zaměstnanci</h2>
{% if object_list %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="text-center align-middle">Jméno</th>
        <th class="text-center align-middle">Pozice</th>
        <th class="text-center align-middle">Telefonní číslo</th>
        <th class="text-center align-middle">E-mail</th>
    </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.get_full_name }}</td>
            <td>{% if employee.userprofile.position %}
                    {{ employee.userprofile.position.name }}
                {% else %}
                Žádná pozice
                {% endif %}
            </td>
            <td>{{ employee.userprofile.phone_number }}</td>
            <td>{{ employee.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Žádní zaměstnanci k zobrazení</p>
{% endif %}
</div>
{% endblock %}
