{% extends 'base.html' %}

{% load static %}

{% block title %}
    SDA Employee Hub
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    {% include 'contracts_homepage.html' with contracts=contracts limit=5 %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    {% include 'events_homepage.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    {% include 'subcontracts_homepage.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    {% include 'comments_homepage.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

