{% extends 'base.html' %}

{% block title %}
    SDA Employee Hub | My SubContracts
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Všechny podprojekty</h2>
    {% if subcontracts %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center align-middle">Číslo podprojektu</th>
                <th class="text-center align-middle">Název podprojektu</th>
                <th class="text-center align-middle">Zbývá dní</th>
                <th class="text-center align-middle">Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for subcontract in subcontracts %}
            <tr class="{% if subcontract.delta <= 7 %}table-danger{% elif subcontract.delta <= 14 %}table-warning{% endif %}">
                <td align="center">{{ subcontract.contract.pk }} - {{ subcontract.subcontract_number }}</td>
                <td>{{ subcontract.contract.contract_name }} - {{ subcontract.subcontract_name }}</td>
                <td align="center">{{ subcontract.contract.delta }}</td>
                <td><a href="{% url 'subcontract_detail' contract_pk=subcontract.contract.pk subcontract_number=subcontract.subcontract_number %}" class="btn btn-custom btn-sm">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Žádné podprojekty k zobrazení</p>
    {% endif %}

</div>
{% endblock %}