{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SDA Employee Hub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Vítejte v SDA emlpoyee hub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Odkazy na homepage -->
                </ul>
            </div>
        </div>
    </nav>

<!-- password_reset_step_3.html -->

<h2>Obnova hesla - Krok 3</h2>
<form method="post" id="password-reset-form">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <button type="submit">Změnit heslo</button>
</form>

<script>
document.getElementById('password-reset-form').addEventListener('submit', function(event) {
    var password = document.getElementById('id_new_password').value;
    var passwordConfirm = document.getElementById('id_new_password_confirm').value;
    var errorMessage = '';

    // Password validation
    if (password.length < 8) {
        errorMessage += 'Heslo musí mít alespoň 8 znaků.\n';
    }
    if (!/[A-Z]/.test(password)) {
        errorMessage += 'Heslo musí obsahovat alespoň jedno velké písmeno.\n';
    }
    if (!/[a-z]/.test(password)) {
        errorMessage += 'Heslo musí obsahovat alespoň jedno malé písmeno.\n';
    }
    if (!/[0-9]/.test(password)) {
        errorMessage += 'Heslo musí obsahovat alespoň jednu číslici.\n';
    }
    if (password !== passwordConfirm) {
        errorMessage += 'Hesla se neshodují.\n';
    }

    if (errorMessage) {
        event.preventDefault();
        alert(errorMessage);
    }
});
</script>

