<a href="{% url 'navbar_show_subcontracts' %}"><h2>Moje podprojekty</h2></a>

<table class="table">
    <thead>
        <tr>
            <th>Název projektu</th>
            <th>Název podprojektu</th>
            <th>Číslo podprojektu</th>
            <th>Deadline</th>
            <th>Počet dní do ukončení</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for subcontract in subcontracts %}
        <tr class="{% if contract.delta <= 0 %}table-danger{% elif contract.delta <= 7 %}table-warning{% endif %}">
            <td>{{ subcontract.contract.contract_name }}</td>
            <td>{{ subcontract.subcontract_name }}</td>
            <td>{{ subcontract.contract.pk}} - {{ subcontract.subcontract_number }}</td>
            <td>{{ subcontract.contract.deadline }}</td>
            <td>{{ subcontract.contract.delta }}</td>
            <td><a href="{% url 'subcontract_detail' contract_pk=subcontract.contract.pk subcontract_number=subcontract.subcontract_number %}" class="btn btn-info">Detail podprojektu</a></td>
        </tr>
        {% empty %}
            Žádné podprojekty nenalezeny.
        {% endfor %}
    </tbody>
</table>
