<h2>Moje statusy</h2>

{% if subcontracts %} <!--Podmínka k ověření, jestli jsou nějaká data v subcontracts-->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Číslo subcontractu</th>
            <th>Název subcontractu</th>
        </tr>
    </thead>
    <tbody>
        {% for subcontract in subcontracts %}
        <tr>
            <td>{{ subcontract.pk }}</td>
            <td>{{ subcontract.subcontract_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Žádné subdodávky k zobrazení</p>
{% endif %}
