.btn-custom {
    background-color: #2C3E50;  /* Stejná barva jako tlačítko "Vytvořit událost" */
    color: #fff;                /* Bílá barva textu */
    border-color: #2C3E50;      /* Stejná barva pro okraj */
}

.btn-custom:hover {
    background-color: #1A252F;  /* Tmavší barva při najetí myší */
    color: #fff;
}